/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 67.5%;
  scroll-behavior: smooth;
}

body {
  animation: opening 1s ease-in-out;
}

/* Global */
h1 {

}

li, button, label, input, p, a {
}

h2 {
}

h3 {
  font-size: var(--header3);
}

h4, h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  pointer-events: none;
}