* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  animation: opening 1s ease-in-out;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 2.5rem; }

h4, h5 {
  font-size: 2rem; }

li, button, label, input, p, a {
  font-size: 2.5rem; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #2c2c2c; }

img {
  pointer-events: none; }

@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.main-head {
  width: 95%;
  margin: 0 0 0 auto; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  flex-wrap: wrap; }
  nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1 1 10rem; }
    nav .logo h1 {
      margin: 2rem; }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex: 1 1 30rem; }

.active {
  transition: none;
  background: rgba(21, 67, 83, 0.9);
  color: white;
  padding: 1rem 3rem !important;
  border-radius: 2rem; }

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .intro h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: linear-gradient(to right, #38d39f, #38a4d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; }
  .intro h3 {
    font-size: 6rem;
    padding: 2rem 0; }
  .intro p {
    padding-top: 2rem;
    color: #2c2c2c; }

.splash {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1; }

.intro-socials {
  margin-top: 4rem; }
  .intro-socials a {
    margin-right: 2rem; }

.intro-text, .intro-images {
  flex: 1 1 40rem; }

.intro-images {
  text-align: right; }

#plant-left {
  animation: plant 2s ease infinite alternate 0.5s; }

#plant-right {
  animation: plant 2.5s ease infinite alternate; }

#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom; }

#clock-arrow {
  animation: clock 4s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box; }

@keyframes me {
  from {
    transform: rotateZ(-3deg); }
  to {
    transform: rotateZ(3deg); } }
@keyframes plant {
  from {
    transform: translateY(0%); }
  to {
    transform: translateY(-30%); } }
@keyframes clock {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
.projects {
  display: grid;
  min-height: 85vh;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 2rem;
  grid-template-rows: auto; }
  .projects .project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative; }
    .projects .project img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .projects .project a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3.5rem;
      color: white; }
    .projects .project .gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, rgba(56, 211, 159, 0.8), rgba(56, 164, 211, 0.8));
      transition: opacity 0.5s ease-in-out; }
    .projects .project:has(> a:hover) .gradient, .projects .project:has(> a:hover) a {
      opacity: 0; }

#travelly {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url("../img/travelly.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#elena-joy {
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url("../img/elena-joy.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#chargi-fi {
  grid-column: 3/4;
  grid-row: 1/3;
  background-image: url("../img/chargi-fi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (max-width: 1400px) {
  html {
    font-size: 53%; }

  .splash {
    display: none; }

  svg {
    width: 80%; }

  .intro-images {
    text-align: center; } }
@media screen and (max-width: 900px) {
  #travelly {
    grid-column: 1/4;
    grid-row: 1/2; }

  #elena-joy {
    grid-column: 1/4;
    grid-row: 2/3; }

  #chargi-fi {
    grid-column: 1/4;
    grid-row: 3/4; } }
@media screen and (max-width: 754px) {
  html {
    font-size: 45%; }

  svg {
    height: 60%; }

  .main-head {
    width: 98%; }

  nav .logo {
    margin: 2rem 1rem; }
  nav ul {
    margin: 2rem 0; }

  .intro-text {
    margin-top: 5rem;
    text-align: center; }

  .intro-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .intro-socials a {
      margin: 2rem; }

  #travelly {
    grid-column: 1/4;
    grid-row: 1/2; }

  #elena-joy {
    grid-column: 1/4;
    grid-row: 2/3; }

  #chargi-fi {
    grid-column: 1/4;
    grid-row: 3/4; } }
@media screen and (max-width: 500px) {
  nav .logo {
    display: none; } }

/*# sourceMappingURL=style.css.map */
